.banner {
	background: url("banner.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 1000px;
	height: 60px;
	display: block;
	visibility: hidden;
}

.bannerOn {
	visibility: visible;
}

#text {
	top: 12px;
	left: 80px;
	position: relative;
	font-family: "Georgia" ;
	font-size: 30px;
}